.App {
 display: flex;
 flex-direction: column;
}

.App-main-body {
  display: flex;
  flex-direction: row;
}

.viewer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-basis: 35vw;
  background-color:rgb(224, 231, 235);
}

.packages-container {
  display: flex;
  flex-direction: column;
  min-width: 65vw;
  min-height: 100vh;
  background-color:rgb(195, 205, 213);
}