.App {
  display: flex;
  flex-direction: column;
}

.App-main-body {
  display: flex;
}

.viewer-container {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  width: 35%;
  min-height: 95vh;
  max-height: 95vh;
  flex-basis: 35vw;
  background-color: rgb(238, 238, 238);
}

.packages-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  min-height: 95vh;
  max-height: 95vh;
  background-color: rgb(238, 238, 238);
}

.change {
  background: transparent;
  border: none;
  outline: none;
  display: block;
  color: rgb(238, 238, 238);
}

@media only screen and (max-width: 800px) {
  .viewer-container {
    display: none;
  }

  .packages-container {
    width: 100%;
  }
}
