$component-background:white;
$background-color: white;

$delivered-color: rgb(100, 237, 229);
$late-color: rgb(252, 143, 54);
$enRoute-color: rgb(244, 198, 78);
$delayed-color: rgb(252, 149, 142);

.main {
  height: 10vh;
  margin: 1.5em;
}