.main {
  height: 10vh;
  margin: 1.5em; }

.main {
  height: 5px; }

.package-manager {
  height: 20vh;
  margin: 1.5em;
  border-radius: 7px;
  box-shadow: 5px 5px #163616;
  background-color: #c3cdd5; }
