@import './Colours.scss';

.package_header {
  display: flex;
  justify-content: space-between;
}

.tracked_package {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
  width: 70em;
  margin: 1.5em;
  padding-right: 0.25em;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: $component-background;
  box-shadow: orange;
}
.tracked_package--delivered {
  box-shadow: 0 5px 10px $delivered-color;
}
.tracked_package--late {
  box-shadow: 0 5px 10px $late-color;
}
.tracked_package--en_route {
  box-shadow: 0 5px 10px $enRoute-color;
}
.tracked_package--delayed {
  box-shadow: 0 5px 10px $delayed-color;
}

.shipping_details {
  display: flex;
  flex-direction: column;
}

.package_footer {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
}