@import "./Colours.scss";

.package_header {
  display: flex;
  justify-content: space-between;
  font-size: larger;
}

.tracked_package {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
  width: 70em;
  margin: 1.5em;
  padding-right: 0.25em;
  padding-left: 0.5em;
  padding-top: 0.7em;
  padding-bottom: 0.25em;
  background: $component-background;
  box-shadow: orange;
  border: 1px solid silver;
}

.tracked_package--delivered {
  box-shadow: 5px 5px 10px $delivered-color;
}
.tracked_package--late {
  box-shadow: 5px 5px 10px $late-color;
}
.tracked_package--en_route {
  box-shadow: 5px 5px 10px $enRoute-color;
}
.tracked_package--delayed {
  box-shadow: 5px 5px 10px $delayed-color;
}

.shipping_details {
  display: flex;
  flex-direction: column;
  padding-bottom: 3px;
}
.package_footer {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.status_message {
  font-size: larger;
}

.fas .fa-plus-circle {
  padding: 10px;
}

.fas .fa-sms {
  color: red;
}

#priority {
  font-size: 20px;
  padding: 7px;
}

#sms {
  font-size: 20px;
  padding: 7px;
}
