.package_header {
  display: flex;
  justify-content: space-between;
}

.tracked_package {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
  margin: 1.5em;
  padding-right: 0.25em;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: rgb(238, 238, 238);
}
.tracked_package--delivered {
  box-shadow: 0 5px 10px rgb(100, 237, 229);
}
.tracked_package--late {
  box-shadow: 0 5px 10px rgb(252, 143, 54);
}
.tracked_package--en_route {
  box-shadow: 0 5px 10px rgb(244, 198, 78);
}
.tracked_package--delayed {
  box-shadow: 0 5px 10px rgb(252, 149, 142);
}

.shipping_details {
  display: flex;
  flex-direction: column;
}

.package_footer {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
