@import './Colours.scss';
@import './Styles.scss';


.viewer {
  display: flex;
  flex-direction: column;
  background-color: $component-background;
  border-radius: 3px;
  height: 40vh;
  margin-top: 5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  box-shadow: -10px 10px 20px -10px rgb(99, 170, 138);
  overflow: scroll;
}

.description {
  padding-left: 2.5em;
  padding-right: 2em;
  font-size: 20px;
}

h1 {
  align-self: center;
}

