@import "./Colours.scss";
@import "./Styles.scss";

.viewer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $component-background;
  border-radius: 3px;
  height: 70vh;
  margin-top: 2em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  overflow: scroll;
  border: 1px solid silver;
  padding-top: 5px;
  box-shadow: -10px 10px 20px -10px rgb(99, 170, 138);
}

::-webkit-scrollbar {
  display: none;
}

.courier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 30px;
}

.description {
  padding-left: 2.5em;
  padding-right: 2em;
  font-size: 20px;
  background-color: rgba(243, 243, 242, 0.6);
  margin-left: 1em;
  margin-right: 1em;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  min-height: 5vh;
  max-height: 5vh;
  position: static;
}

#delivered {
  box-shadow: -10px 10px 20px -10px $delivered-color;
}
#late {
  box-shadow: -10px 10px 20px -10px $late-color;
}
#en_route {
  box-shadow: -10px 10px 20px -10px $enRoute-color;
}
#delayed {
  box-shadow: -10px 10px 20px -10px $delayed-color;
}
