@import './Colours.scss';
@import './Styles.scss';


.viewer {
  display: flex;
  flex-direction: column;
  background-color: $component-background;
  border-radius: 20px;
  height: 40vh;
  margin-top: 5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  box-shadow: $box-shadow;
  overflow: scroll;
}

h1 {
  align-self: center;
}
